h1 {
    border-radius: 100px 100px;
    text-align: center; 
    border:2px solid;
     border-color:darkcyan; 
     border-radius: 100px 100px;
      padding: 5px;
      color:#155454;
}
body {width: 600px;}
th {
    border: 2px solid;
     text-align: left; 
     font size: 70%;
      letter-spacing: 0.1px;
       text-transform: uppercase; 
    padding:5px;
    background-color: #63abab;
    color: white;
    /* why didn't the border spacing work either */
    border-spacing:0px 0px 0px 0px
    }
td {padding: 10px 10px 10px 10px; background-color:#abdeed;}

 table, .heading {
    border: 2px solid; 
    border-radius: 5px 5px; 
    border-color:#1e7373;
    /* why this no work either */
    border-collape:collapse;
}
/* I don't know why this didn't work */
tr:hover {
    background-color: white;}